@page "/medicos"
@rendermode InteractiveServer
@inject IMedicoRepository repository

<h3> Médicos </h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <MedicoTemplateList  Medicos = "@Medicos" DeleteCallBack="Delete">  </MedicoTemplateList>
    </tbody>
</table>

@code {
    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }
}
